*::before,
*::after{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
body{
  background-attachment: fixed;
  background-image: url("../img/steakhouse.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}
.container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 600px;
}
h1 {
  text-align: center;
  color: skyblue;
  font-style: italic ;
}
.background-theme{
  display: flex;
  flex-direction: column;
  line-height: 45px;
  padding-bottom: 15px;
  color: deepskyblue;
}
#backgrounds, #server{
  text-align: center;
}
.add-server{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  color: deepskyblue;
}
.add-staff {
  border: none;
  padding: 10px 0;
  font-weight: bold;
  width: 65%;
  margin: 25px 0 15px 0;
  color: darkblue;
  background-color: lightgray;
}
.end-list {
  border: none;
  padding: 10px 0;
  font-weight: bold;
  width: 65%;
  margin-bottom: 5px;
  color: darkblue;
  background-color: lightgray;
}
/***********************PAGE 2*********************/

.horizons-server{
  width: 90%;  
}
.waitstaff {
  text-align: center;
  list-style: none;
  padding-left: 0;
  text-transform: uppercase;
  font-size: 1.5em;
}
.server-entry {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-color: darkgray;
  border-style: solid;
  padding: 15px 0;
  background-color: lightgray;
}
.server-entry span {
  color: darkblue;
  font-style: italic;
}
.counter-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  width: 90%;
}
.count-display{
  width: 100%;
  font-size: 1.5em;
  padding-bottom: 10px;
  color: darkblue;
}
.horizons-server button {
  border: none;
  padding: 15px 0;
  color: lightgray;
  font-weight: bold;
  width: 20%;
  margin-bottom: 5px;
  border-radius: 25px;
  background-color: darkblue;
  font-size: .7em;
}
              /*****************THEMES **************/
/********************FALL**************/

body.fall{
  background-attachment: fixed;
  background-image: url("../img/fall.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh; 
}
.fall h1{
  color: #e07d45;
}
.fall .background-theme, .fall .add-server{
  color: #495235;
}
.fall .add-staff, .fall .end-list{
  color: #f4ddb8;
  background-color: #8f9562;
}
.fall .server-entry{
  border-color:#495235;
  background-color: #da983c;
}
.fall .server-entry span {
  color: #495235;
}
.fall .count-display{
  color: #495235;
}
.fall .horizons-server button {
  color:#f4ddb8;
  background-color: #495235;
}

/**********************HALLOWEEN***************/
body.halloween{
  background-attachment: fixed;
  background-image: url("../img/halloween.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  min-height: 100vh;
}
.halloween h1{
  color: #f4831b;
  margin-top: 80px;
  padding-top: 30px;
}
.halloween .background-theme, .halloween .add-server{
  color: #63c328;
}
.halloween .add-staff, .halloween .end-list{
  color: #63c328;
  background-color: #902ebb;
}
.halloween .server-entry{
  border-color:#1c1c1c;
  background-color: #63c328;
}
.halloween .server-entry span {
  color: #1c1c1c;
}
.halloween .count-display{
  color: #1c1c1c;
}
.halloween .horizons-server button {
  color:#1c1c1c;
  background-color: #902ebb;
}

/***********************THANKSGIVING****************/
body.thanksgiving{
  background-attachment: fixed;
  background-image: url("../img/thanksgiving.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  min-height: 100vh;  
}
.thanksgiving h1{
  color: #9d221e;
  margin-top: 80px;
  padding-top: 80px;
}
.thanksgiving .background-theme, .thanksgiving .add-server{
  color: #382615;
}
.thanksgiving .add-staff, .thanksgiving .end-list{
  color: #382615;
  background-color: #f8b12c;
}
.thanksgiving .server-entry{
  border-color:#382615;
  background-color: #f8b12c;
}
.thanksgiving .server-entry span {
  color: #382615;
}
.thanksgiving .count-display{
  color: #382615;
}
.thanksgiving .horizons-server button {
  color:#382615;
  background-color: #859d3c;
}

/********************CHRISTMAS******************/
body.christmas{
  background-attachment: fixed;
  background-image: url("../img/christmas.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  min-height: 100vh;  
}
.christmas h1{
  color: #b90e11;
  margin-top: 80px;
  padding-top: 40px;
}
.christmas .background-theme, .christmas .add-server{
  color: #b90e11;
}
.christmas .add-staff, .christmas .end-list{
  color: #c9a75d;
  background-color: #28440f;
}
.christmas .server-entry{
  border-color:#5b0d1d;
  background-color: #28440f;
}
.christmas .server-entry span {
  color: #b90e11;
}
.christmas .count-display{
  color: #b90e11;
}
.christmas .horizons-server button {
  color:#5b0d1d;
  background-color: #c9a75d;
}

/******************NEW YEARS****************/
body.new-year{
  background-attachment: fixed;
  background-image: url("../img/new-year.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  min-height: 100vh;  
}
.new-year h1{
  color: #04030b;
  margin-top: 0;
  padding-top: 25px;
}
.new-year .background-theme, .new-year .add-server{
  color: #04030b;
}
.new-year .add-staff, .new-year .end-list{
  color: #04030b;
  background-color: #f0d5e2;
}
.new-year .server-entry{
  border-color:#04030b;
  background-color: #f0d5e2;
}
.new-year .server-entry span {
  color: #04030b;
}
.new-year .count-display{
  color: #04030b;
}
.new-year .horizons-server button {
  color:#04030b;
  background-color: #8dccf0;
}

/**************WINTER****************/

body.winter{
  background-attachment: fixed;
  background-image: url("../img/winter.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  min-height: 100vh;  
}
.winter h1{
  color: #1ae3fb;
  margin-top: 0;
  padding-top: 25px;
}
.winter .background-theme, .winter .add-server{
  color: #1ae3fb;
}
.winter .add-staff, .winter .end-list{
  color: #04030b;
  background-color: #a2ffe5;
}
.winter .server-entry{
  border-color:#2d50b6;
  background-color: #1ae3f6;
}
.winter .server-entry span {
  color: #04030b;
}
.winter .count-display{
  color: #04030b;
}
.winter .horizons-server button {
  color:#04030b;
  background-color: #ad53d7;
}